a {
    text-decoration: none;
}

table {
    border: 1px solid;
    border-color: %1; /* border color, set by system palette */
    border-collapse: collapse;
    vertical-align: middle;
}

td {
    padding: 10px;
}

th {
    padding: 10px;
}
